* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/*HEADER*/
header {
  padding: 20px 35px;
  position: sticky;
  top: 0;
  background-color: #444747;
  z-index: 9999;
}

h1 {
  font-style: italic;
  font-weight: lighter;
  font-size: 65px;
  color: wheat;
  margin: 0;
  text-shadow: 0px 0px 15px black;
  background: transparent;
  letter-spacing: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 15px 20px;
  font-weight: bolder;
  font-size: 1.5vw;
  color: wheat;
  text-shadow: 0 0 15px #b98b7e;
}
header nav ul li a:hover {
  background: wheat;
  color: #444747;
  border-radius: 15px;
}

section {
  padding: 60px;
}

section h2 {
  color: wheat;
  text-shadow: 0 0 15px #b98b7e;
  font-style: italic;
}

/*HERO SECTION*/
.hero {
  background-image: url("../Assets/images/downtownep.jpg");
  opacity: 0.9;
  height: 500px;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero img {
  max-width: 200px;
  border-radius: 50%;
}

.hero h3 {
  color: wheat;
  font-style: italic;
  text-shadow: 5px 5px 15px black;
}

/*ABOUT ME SECTION*/
.about {
  background-color: #444747;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-title {
  width: auto;
}

.about-text {
  width: 50%;
  color: wheat;
}

/*MY WORK SECTION*/
.work {
  background-color: #444747;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.work :nth-child(1) {
  margin-right: auto;
  padding-left: 70px;
}

.work :nth-child(2) {
  width: 600px;
}
.work :nth-child(2) img {
  width: 90%;
  height: 100%;
}

.img-item {
  opacity: 0.5;
}

.img-item img {
  width: 300px;
  border-radius: 15px;
  padding: 25px;
}

.img-item:hover {
  opacity: 1;
}

/*CONTACT ME SECTION*/
.contact {
  background-color: #444747;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact ul {
  list-style: none;
}

.contact ul li {
  padding: 10px;
}

.contact ul li a {
  color: wheat;
}
.contact ul li a:hover {
  background: wheat;
  color: #444747;
  border-radius: 15px;
}

/*HIT ME UP SECTION*/
.hit-me {
  background-color: #444747;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: wheat;
}

.hit-me input,
.hit-me textarea {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hit-me button {
  width: 50%;
  border: thin;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  color: #444747;
}
/*PSUEDO CLASS*/
.hit-me input:focus,
.hit-me textarea:focus {
  background-color: white;
}

.hit-me button:hover {
  background: white;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

/*MEDIA QUERY FOR TABLET SIZES*/
@media screen and (max-width: 768px) {
  header nav ul li a {
    font-size: 30px;
  }

  h1 {
    letter-spacing: normal;
  }

  .about {
    flex-direction: column;
  }
  .about-text {
    width: 100%;
    margin-top: 30px;
  }
  .work :nth-child(1) {
    margin-right: 50px;
    padding-left: 0;
  }
}

/*MEDIA QUERY FOR CELL PHONE SIZES*/
@media screen and (max-width: 575px) {
  header nav ul li a {
    font-size: 20px;
  }

  .work {
    flex-wrap: nowrap;
  }

  .hit-me button {
    width: 100%;
  }
}
