* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/*HEADER*/
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-image: url("./images/downtownep.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 40% 96%;
  z-index: 9999;
}

header h1 {
  font-style: italic;
  font-weight: bolder;
  font-size: 42px;
  color: wheat;
  margin: 0;
  text-shadow: 0px 0px 15px #b98b7e;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 15px 20px;
  font-weight: lighter;
  font-size: 1.5vw;
  color: wheat;
  text-shadow: 0 0 15px #b98b7e;
}
header nav ul li a:hover {
  background: #875c89;
  color: wheat;
  border-radius: 15px;
}

section {
  padding: 60px;
}

section h2 {
  color: wheat;
  text-shadow: 0 0 15px #b98b7e;
  font-style: italic;
}

/*HERO SECTION*/
.hero {
  background-image: url("../Assets/images/downtownep.jpg");
  height: 400px;
  background-size: cover;
  background-position: 50%;
}

/*ABOUT ME SECTION*/
.about {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6984c3;
}

.about-title {
  width: auto;
  border-right: 2px solid black;
}

.about-text {
  width: 50%;
  color: wheat;
}

/*MY WORK SECTION*/
.work {
  background-color: #69b1c3;
}

/*CONTACT ME SECTION*/
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #6984c3;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

.contact ul li {
  padding: 10px;
}
